.navbar{
    background-color:blueviolet;
}
.nav-link{
    margin-right: 10px;
    font-family: "Creepster", system-ui;
    font-size: 30px; 
    transition: 0.5s;
}
.nav-link:hover{
color: rgb(255, 119, 0);
letter-spacing: 0.75px;
transition: 0.5s;
}
body{
    background-color:black;
}

.textt{
height: 50px;
margin-right: 25px;
}

/* trying this thingy out*/
container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text span {
    font-size: 95px;
    font-family: "Creepster", system-ui;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    animation: zoomup 5s ease infinite;
    animation-delay: calc(150ms * var(--i));
    
  }
  
  .dot {
    display: block;
  }
  
  @keyframes zoomup {
    0%,
    100% {
      color: white;
      filter: blur(0.2px);
      text-shadow: 0 0 10px rgb(255, 119, 0), 0 0 20px rgb(255, 119, 0), 0 0 30px #ffb703,
        0 0 40px rgb(255, 119, 0), 0 0 50px rgb(255, 119, 0), 0 0 60px rgb(255, 119, 0);
    }
  
    50% {
      filter: blur(0);
      color: #fff;
      text-shadow: none;
    }
  }
  .wordscontainer{
    background-color: rgb(255, 119, 0);
    padding: 3%;
    margin-top: 3%;
    border-radius: 75%;
    border: blueviolet 5px double;
  }
  .showwords{
    font-family: "Creepster", system-ui;
    color: black;
    font-size: 65px;
    }