.navbar {
    background-color: blueviolet;
}

.nav-link {
    margin-right: 10px;
    font-family: "Creepster", system-ui;
    font-size: 30px;
    transition: 0.5s;
}

.nav-link:hover {
    color: rgb(255, 119, 0);
    letter-spacing: 0.75px;
    transition: 0.5s;
}

/*hamburger menu css*/

.navbar-toggler {
    width: 40px;
    height: 30px;
    position: relative;
    transition: .5s ease-in-out;
  }
  
  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
  }
  
  .navbar-toggler span {
    margin: 0;
    padding: 0;
  }
  
  .toggler-icon {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 1px;
    opacity: 1;
    left: 0;
    top: 10px;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .middle-bar {
    margin-top: 0px;
  }
  
  .navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
  }
  
  .navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  
  .navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
  }
  
  .navbar-toggler.collapsed .top-bar {
    margin-top: -15px;
    transform: rotate(0deg);
  }
  
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  
  .navbar-toggler.collapsed .bottom-bar {
    margin-top: 15px;
    transform: rotate(0deg);
  }

body {
    background-color: black;
}

.textt {
    height: 47px;
    margin-right: 25px;
}

/* trying this thingy out*/
container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-heading {
    margin-top: 50px;
}

.heading-text-div {
    padding: 20px;
}

.heading-img-div {
    padding: 20px;
}

.text span {
    font-size: clamp(35px, 5vw, 80px);
    font-family: "Creepster", system-ui;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    animation: zoomup 5s ease infinite;
    animation-delay: calc(150ms * var(--i));
    vertical-align: center;
}

.dot {
    display: block;
}

@keyframes zoomup {

    0%,
    100% {
        color: white;
        filter: blur(0.2px);
        text-shadow: 0 0 10px rgb(255, 119, 0), 0 0 20px rgb(255, 119, 0), 0 0 30px #ffb703,
            0 0 40px rgb(255, 119, 0), 0 0 50px rgb(255, 119, 0), 0 0 60px rgb(255, 119, 0);
    }

    50% {
        filter: blur(0);
        color: #fff;
        text-shadow: none;
    }
}

.wordscontainer {
    background-color: rgb(255, 119, 0);
    padding: 3%;
    margin-top: 3%;
    border-radius: 75%;
    border: blueviolet 5px double;
    margin-bottom: 3%;
}

.showwords {
    font-family: "Creepster", system-ui;
    color: black;
    font-size: 65px;
}

.truckk {
    display: block;
    height: 700px;
    width: 900px;
    height: auto;
    width: auto;
}

.pawword {
    color: blueviolet;
    font-family: "Creepster", system-ui;
    display: none;
    opacity: 100%;
    background: rgb(255, 119, 0);
    border: dotted 5px blueviolet;
    padding: 10px;
}

.pawpic {
    height: 500px;
    width: 400px;
    background: url(imgs/pawpatrol.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: double 5px rgb(255, 119, 0);
}

.candypic {
    height: 500px;
    width: 400px;
    background: url(imgs/candyland.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: double 5px blueviolet;
}

.candyword {
    color: rgb(255, 119, 0);
    font-family: "Creepster", system-ui;
    display: none;
    opacity: 100%;
    background: blueviolet;
    border: dotted 5px rgb(255, 119, 0);
    padding: 10px;
}

.mariopic {
    height: 500px;
    width: 400px;
    background: url(imgs/mario.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: double 5px rgb(255, 119, 0);
}

.marioword {
    color: blueviolet;
    font-family: "Creepster", system-ui;
    display: none;
    opacity: 100%;
    background: rgb(255, 119, 0);
    border: dotted 5px blueviolet;
    padding: 10px;
}

.alicepic {
    height: 500px;
    width: 400px;
    background: url(imgs/alice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: double 5px blueviolet;
}

.aliceword {
    color: rgb(255, 119, 0);
    font-family: "Creepster", system-ui;
    display: none;
    opacity: 100%;
    background: blueviolet;
    border: dotted 5px rgb(255, 119, 0);
    padding: 10px;
}

.hawaiipic {
    height: 500px;
    width: 400px;
    background: url(imgs/hawaii.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: double 5px rgb(255, 119, 0);
}

.hawaiiword {
    color: blueviolet;
    font-family: "Creepster", system-ui;
    display: none;
    opacity: 100%;
    background: rgb(255, 119, 0);
    border: dotted 5px blueviolet;
    padding: 10px;
}

.carnivalpic {
    height: 500px;
    width: 400px;
    background: url(imgs/carnival.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: double 5px blueviolet;
}

.carnivalword {
    color: rgb(255, 119, 0);
    font-family: "Creepster", system-ui;
    display: none;
    opacity: 100%;
    background: blueviolet;
    border: dotted 5px rgb(255, 119, 0);
    padding: 10px;
}

.homewordscontainer {
    background-color: rgb(255, 119, 0);
    border-radius: 5%;
    border: blueviolet 5px double;
    margin: 100px auto;
    width: 400px;
}

.homewords {
    font-family: "Creepster", system-ui;
    color: black;
    font-size: 45px;
}


.gravedivone {
    background-color: rgb(0, 0, 0);
    max-height: 100%;
    border-radius: 10px;
    margin: 20px 10px;
}

.gravedivtwo {
    background-color: rgb(0, 0, 0);
    max-height: 100%;
    border-radius: 10px;
    margin: 20px 10px;
}

.gravedivthree {
    background-color: rgb(0, 0, 0);
    max-height: 100%;
    border-radius: 10px;
    margin: 20px 10px;
}

.graveonetitle {
    display: none;
    font-family: "Creepster", system-ui;
    color: black;
    text-decoration: underline;
}

.graveoneinfo {
    font-family: "Tenor Sans", sans-serif;
    display: none;
    color: black;
}

.gravetwotitle {
    display: none;
    font-family: "Creepster", system-ui;
    color: black;
    text-decoration: underline;
}

.gravetwoinfo {
    font-family: "Tenor Sans", sans-serif;
    display: none;
    color: black;
}

.gravethreetitle {
    display: none;
    font-family: "Creepster", system-ui;
    color: black;
    text-decoration: underline;
}

.gravethreeinfo {
    font-family: "Tenor Sans", sans-serif;
    display: none;
    color: black;
}

.activee {
    color: rgb(255, 119, 0);
    text-decoration: none;
}



li {
    color: #fff;
    padding-left: 0rem;
    text-indent: -0.7rem;
    list-style-type: none
}

li::before {
    content: "🎃 ";
    margin-right: 1px;
}

.setupdiv {
    background-color: blueviolet;
    color: black;
    font-family: "Creepster", system-ui;
    border-radius: 5px;
    margin: 20px;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 55px;
}

.setuptext {
    display: none;
}

.eventtext {
    display: none;
}

.cleantext {
    display: none;
}

.cleandiv {
    background-color: blueviolet;
    color: black;
    font-family: "Creepster", system-ui;
    border-radius: 5px;
    margin: 20px;

}

.eventdiv {
    background-color: blueviolet;
    color: black;
    font-family: "Creepster", system-ui;
    border-radius: 5px;
    margin: 20px;
}
.tittext{
    font-size: 6vw;
}
.clickme1{
   color: blueviolet;
   font-size: clamp(13px, 1.3vw, 100px);
   font-family: "Tenor Sans", sans-serif;

}

/* scrollbar */

/* width */

::-webkit-scrollbar {
    width: 15px;
  }
    
  /* Track */
    
  ::-webkit-scrollbar-track {
    background: #eeebeb; 
  }
     
  /* Handle */
    
  ::-webkit-scrollbar-thumb {
    background:rgb(255, 119, 0);
  }
    
  /* Handle on hover */
    
    ::-webkit-scrollbar-thumb:hover {
      background: rgb(255, 119, 0); 
  }
    
    